<div class="row">
  <aside class="span8">
    <section>
      <p><strong><%= @user.name %></strong>
      <br />
      <%= @user.account_name %>
      <br />
      <%= @user.email %></p>
    </section>
  </aside>
</div>

<div class="row">
  
</div>